build
managed_components
sdkconfig
docs/html

# Android
android-companion/.gradle/
android-companion/app/build/
android-companion/local.properties
android-companion/.idea/workspace.xml
android-companion/.idea/caches/